body
{
font:Arial;
}
.0sn
{
	
}
.1sn
{
}

.2sn
{
	
}

.3sn
{
	
}

.4sn
{
	
}

.5sn
{
	
}

.6sn
{
	
}

.7sn
{
	
}
.8sn
{

}
.9sn
{
}

.name_for
{
	width:250px;
	height:22px;
	border:solid 1px;
	font:Arial;
	font-size:16px;
	text-align:left;
	overflow:hidden;
	padding:2px 0px 0px 0px; 
}
.name_for2
{
	width:372px;
	height:22px;
	border:solid 1px;
	font:Arial;
	font-size:16px;
	text-align:left;
	overflow:hidden;
	padding:2px 0px 0px 0px; 
}
.marks
{
	width:350px;
	height:22px;
	border:solid 1px;
}
